<div id="homescreen">
    <div class="container">
        <div class="homescreen-main-block">
            <div class="homescreen-option-block">
                <a href="/viewPlayers">View players</a>
            </div>
            <div class="homescreen-option-block">
                <a href="/viewPlayers">Defenders</a>
            </div>
            <div class="homescreen-option-block">
                <h4>league Titles</h4>
            </div>
            <div class="homescreen-option-block">

            </div>
            <div class="homescreen-option-block">
                <a href="">Manage Tonaments</a>
            </div>
            <div class="homescreen-option-block">
                <a href="">Manage your Players</a>
            </div>
        </div>
    </div>
</div>
